@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {

   font-family: 'Nunito', sans-serif;
   
}
html {
    scroll-behavior: smooth;
}
body{
    background-image: url('/assets/img/background.webp');
    background-size: 100%;
    filter: blur(px);
}
.customBttn{
    all: unset;
   
}
.customBttn img{
    all: unset;
    margin-bottom: -5px;
}
#copy:hover{
    filter: brightness(50%);
}
#copy:active{
    filter: brightness(30%);
}
#copy{
    display: none;
    margin-left: 20px;
    margin: 6.5px;
}

#copiedWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

#copied{
    display: none;
}
#copiedTxt {
    display: none;
    margin-left: 20px;
    padding: 10px;
    border-radius: 3px;
    border: solid black 2px;
}

#drawFortuneButton{
   font-size: xx-large;
    margin: 15px;
}
#fortuneButtonWrapper{
    display: flex;
    justify-content: center;
}
#fortuneBox{
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 2px solid #afa6a6;
    padding: 10px;
    box-sizing: border-box;
    background-color: #222020;
    color: #ece5e5;
    
}
