@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {

   font-family: 'Nunito', sans-serif;
   font-size: 35px;
}
html {
    scroll-behavior: smooth;
}
body{
    position: relative;
    margin: 0;
    background-color: #292828;

}
main{
    overflow: hidden;
    
}

#blur {
    background-image: url('../img/background.webp');
    background-size:cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    filter:blur(4px);
    width: 100%;
    height: 100%;
    
} 

#content{
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
    z-index: 2;
    height: 100vh;
}
.customBttn{
    all: unset;
}
.customBttn img{
    all: unset;
    margin-bottom: -5px;
}
#copy:hover{
    filter: brightness(50%);
}
#copy:active{
    filter: brightness(30%);
}

#copiedWrapper{
    display: none;
    align-items: center;
    gap: 10px;
}

#copiedTxt {
    position: absolute;
    display: none;
    margin-top:-0px;
    margin-left: -80px;
    background-color: rgb(26, 143, 98);
    padding: 10px;
    border-radius: 7px;
    font-size: 16px;
    animation: slideIn 1100ms;
}

#drawFortuneButton{
   font-size: xx-large;
    margin: 15px;
}
#fortuneButtonWrapper{
    display: flex;
    justify-content: center;
}


#fortuneWrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
    max-height: 100%;
 
}

#fortuneBox{
    display: none;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
    box-sizing: border-box;
    color: #e7dfdf;
    background-color: #292828; 
    width: 50%;
    max-height: 100%;
    overflow-y: auto;
    animation: slideUp 1000ms;
}
#content img, #content video, #content canvas {
    overflow: hidden;
}
#cookie{
    display: flex;
    justify-content:center;
    align-items: end;
    width: 100%;
    
}

#cookieLeft{
    left:0;
    
}
#cookieRight{
    margin-bottom: 3px;
    
}
@keyframes slideUp{
    from{
        opacity: 0;
        margin-top:150px;
    }
    
}
@keyframes slideIn{
    0%{
        margin-left:-30px;
        opacity: 1 ;
    }
 
    75%{
        margin-left: -80px;
        opacity: 1;
        
        
    }
    100%{
        opacity: 0;
    }
}
@keyframes cookieLeft{

    75%{
        transform: rotate(-15deg);
        margin-right:200px;
    
    }
    100%{
        opacity: 0;
    }
}
@keyframes cookieRight{
    75%{
        transform: rotate(15deg);
        margin-left:200px;
        
        
    }
    100%{
        opacity: 0;
    }
}
@media only screen and (max-width: 800px) {
    #fortuneBox{
        margin:15px;
        width:100%;
    }
}
